;
; {{ansible_managed}}
;

[defaults]
library = "{{ansible_install_dir}}/library:/usr/share/ansible/library"
callback_plugins = "{{ansible_install_dir}}/callback_plugins:/usr/share/ansible/callback_plugins"
