#GIPUPPET-55
# Configure Server Tokens : Tells apache to only return Apache in the Server header, returned on every page request.
ServerTokens Prod
# Disable Server Signature : Tells apache not to display the server version on error pages, or other pages it generates.
ServerSignature Off
# Disable Tracing : It will disable the TRACE method in apche.
TraceEnable Off
